<h1>TWO MINUTE BREAK</h1>


<ul>
	<li><%= link_to 'My Two Minute Breaks', wires_path %></li>
	<li>Create</li>
	<li>Browse</li>
	<li>Wires</li>
	<li>Account</li>
</ul>

<!-- count of two minute breaks -->

<h2>Dashboard</h2>






